<div id="top">

    <div id="welcome">
        Welcome to the LSU Computer Society LAN website! Here you can find information and buy tickets for upcoming LAN parties. During LANs this is also used as an interactive system for tournament sign-ups and as a live source of information.<br /><br />
        If you have any questions about our events, please take a look at the <a href="<?=LanWebsite_Main::BuildUrl(false, 'info');?>">Info</a> page. If you can't find your answer there, please email <?=$DataBag["contact"]?>.<br /><br />
    </div>
    
    <div id="gallery">
        
    </div>

</div>

<hr />

<div id="bottom">
    <div id="lan-updates">
        <h1>latest lan news</h1>
        <div id="blog">
            <?
                foreach ($DataBag["blog"] as $key => $entry) {
                    echo '<div class="blog-entry ' . ($key == count($DataBag["blog"]) -1?"last-entry":"") . '"><div class="entry-title">' . $entry["title"] . '</div>
                          <div class="entry-details">by ' . $entry["username"] . ' on ' . $entry["date"] . '</div>
                          <div class="entry-content">' . $entry["body"] . '</div>
                          </div>';
                }
            ?>
        </div>
    </div>
    
    <div id="social-media">
    <?php
    if($DataBag["twitter"]) {
    ?>
        <div id="twitter">
            <a class="twitter-timeline" href="https://twitter.com/<?=$DataBag["twitter"]?>" data-widget-id="252389920390385664" width="300px">Tweets by @<?=$DataBag["twitter"]?></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    <?php
    }
    if($DataBag["facebook"]) {
    ?>
        <div id="facebook">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F<?=$DataBag["facebook"]?>&amp;width&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=162157033837977" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:558px;" allowTransparency="true"></iframe>
        </div>
    <?php
    }
    ?>
    </div>
    <div style="clear: both;"></div>
</div>