<?php
    if ($DataBag["error"]) {
?>
    <div class="error-box">
<?php
    if($DataBag["error"] === true) {
        echo 'Invalid username/password!';
    } else {
        echo $DataBag["error"];
    }
?>
    </div>
<?php
    }
?>

<div id="login-description">
    Please enter your LSUCS login details below. Not got an account? Why not  <a href="<?=LanWebsite_Main::buildUrl(false, 'account', 'create')?>">Create One?</a>
</div>

<form action="<?=LanWebsite_Main::buildUrl(false, 'account', 'authlogin')?>" method="post">
    <div id="textbox-container">
        <div>
            <span>Username:</span><input type="text" name="username" id="username" value="<?=$DataBag["username"]?>" />
        </div>
        <div>
            <span>Password:</span><input type="password" name="password" id="password" />
        </div>
    </div>
    <button id="login-button">Sign In</button>
</form>